{% extends 'blog/index.html' %}



{% block content %}
{% if request.user.username == 'aleksey' %}
<form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}

  <fieldset id="personal">
    {{ form.as_p }}
</form>
{% else %}
<h1 style="color:#FF0000">Страница не существует!</h1>
{% endif %}
<div style="margin-top: 40%;">
</div>
{% endblock %}


