    {% extends 'blog/index.html' %} 
    {% block content %}<br><br>


      <div style="margin-top: 5%;">
       <div align="center">
       {% if post.image %}
       <img src="{{ post.image.url }}"{{ post.image.name }} class="img-responsive">
       {% else %}
        <p><font color="#FF0000;"><h3>Заново добавьте фото!</h3></font></p>
       {% endif %}
       </div>
      </div>
<h2 align="center">{{ post.title }}</h2>
<div id="div-text">


<h2 align="left"><small><p>{% autoescape off%}{{ post.text|linebreaksbr }}{% endautoescape %}</p></small></h2>
    
    
    
<h3 align="left">Коментарии:</h3>


<div class="div-com">
{% for comments in comments %}

  <p><h3 style="color:#0000ff">{{ comments.com_author.username }}</h3></p>
  <p>{{ comments.com_text }}</p>
  <p "color:#0000ff">{{ comments.com_date }}</p>
  <hr>

{% endfor %}
</div>
</div>


{% if username %}

<form action="/article/addcom/{{ post.pk }}/" method="post" class="post-form">
{% csrf_token %}
<div style="margin-left: 1%;">
 {{ form }}
</div>
<div style="width: 50%; margin-top: 1%;">
 <button class="btn btn-sm btn-primary pull-right" type="submit">Добавить</button>
 </div>
</form>
{% else %}
  <h3 style="color:#FF0000">Для того чтобы оставлять комментарии, вам необходимо <a href="http://www.ithobby.ru/auth/login/" > авторизоваться</a> или <a href="http://www.ithobby.ru/auth/register/" > зарегистрироваться!</a></h3>
{% endif %}


    {% endblock %}
 


