    {% extends 'blog/index.html' %}

    {% block content %}
 <div style="margin-top: 10%;">
 <h1 align="center">Список статей</h1>
 </div>
        {% for post in posts %}
       <br>
         <form>

           <div class="post">         
             <table align="center">
               <tr><th><a href="{% url 'article' pk=post.pk %}"></a>
               
               
             {% if post.image %}
               <img src="{{ post.image.url }}"{{ post.image.name }} class="img-responsive">
             {% else %}
               <p><font color="#FF0000;"><h3>Нет изображения!</h3></font></p>
             {% endif %}
             
          
               
               <td><h3 align="center">{{ post.title }}</h3><br>
                   <p align="center" >{{ post.text| truncatewords:12 }}<br> 
               <div style="margin-right: 2%;">
               <ul class="nav nav-pills pull-right">
                <li class="active"><a href="{% url 'article' pk=post.pk %}" >Читать статью</a></li>
               </ul>
               </div>    
             </table>
           </div>
                  

         </form>
        {% endfor %}
             
             
 <div style="margin-left: 45%;">            
 <ul class="pagination">
        {% if posts.has_previous %}
          <li><a href="/page/{{ posts.previous_page_number }}">«</a></li>
        {% endif %}

        {% for page in posts.paginator.page_range %}
          {% if page == posts.number %}
            <li class="active"><a href="/page/{{ page }}">{{ page }}</a></li>
          {% else %}
            <li><a href="/page/{{ page }}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}
        {% if posts.has_next %}
            <li><a href="/page/{{ posts.next_page_number }}">»</a></li>
        {% endif %}
</ul> 
</div>
<div style="margin-top: 35%;">
</div>
    {% endblock content %}


