    {% extends 'blog/index.html' %} 

    {% block contact %}
        <div align="center">
          <h2 align="center">{{ cont.title }}</h2>
          <h2 align="left"><small><p>{% autoescape off%}{{ cont.text|linebreaksbr }}{% endautoescape %}</p></small></h2>
        </div>
    <div style="margin-top: 18%;">
    </div>
    {% endblock %}
