{% extends 'blog/index.html' %}
{% block glavnaya %}

<div style="margin-top: 8%;">
<div class="container-fluid">
    <div id="carousel" class="carousel slide" data-ride="carousel">
 <!-- Индикатор слайдов -->
 <ol class="carousel-indicators">
  <li class="active" data-target="#carousel" data-slide-to="0"></li>
  <li data-target="#carousel" data-slide-to="1"></li>
  <li data-target="#carousel" data-slide-to="2"></li> 
 </ol>
 
  <!-- Слайды -->
 <div class="carousel-inner">
  
  
   <div class="item active">
           {% if documents %}

                {% for document in documents %}
                    <img src="{{ document.docfile.url }}">
                {% endfor %}
                
        {% else %}
            <p>No documents.</p>
        {% endif %}
   </div>
  
  
   <div class="item">
           {% if documents2 %}

                {% for document2 in documents2 %}
                    <img src="{{ document2.docfile2.url }}">
                {% endfor %}
                
        {% else %}
            <p>No documents.</p>
        {% endif %}

   </div>
   
   
   
   
   <div class="item">
           {% if documents3 %}

                {% for document3 in documents3 %}
                    <img src="{{ document3.docfile3.url }}">
                {% endfor %}
                
        {% else %}
            <p>No documents.</p>
        {% endif %}

   </div>
 </div>
 
 
 
 <!-- Стрелки переключения слайда -->
 <a href="#carousel" class="left carousel-control" data-slide="prev"></a>
  <span class="glyphicon glyphicon-chevron-left"></span>
 <a href="#carousel" class="right carousel-control" data-slide="next"></a>
   <span class="glyphicon glyphicon-chevron-right"></span>
</div>

</div>
</div>
     <h2 align="center">{{ glav.title }}</h2>


<div align="center">
   <table style="width: 80%; border-collapse: collapse; /*убираем пустые промежутки между ячейками*/ border: 1px solid white; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/">
    <tr>
    <th style="border: 1px solid white;">
     <h2 align="left"><small><p>{% autoescape off%}{{ glav.text|linebreaksbr }}{% endautoescape %}</p></small></h2>
     </th>
    </tr>   
   </table>
</div>

{% endblock %}

