    {% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
<title>Mysite!</title>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">





</head>
<body>
  <div class="container-fluid">

  <nav class="navbar navbar-inverse navbar-fixed-top">
  
  <div class="container">
    
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Mybrand!</a>
    </div>
    
    <div>
    
     <ul class="nav navbar-nav">
       <li><a href="http://127.0.0.1:8000">Главная</a></li>
       <li><a href="http://127.0.0.1:8000/articles">Статьи</a></li>
       <li><a href="http://127.0.0.1:8000/contacts">Контакты</a></li>
     </ul>  
     <ul class="nav navbar-nav navbar-right">    
       
       {% if username %}
       <li class="active"><a href="/auth/logout/">Выйти ({{ username }})</a></li>
       {% else %}
       <li class="active"><a href="/auth/login/">Войти</a></li>
       {% endif %}
       
              
     </ul>
    
    </div>
  
  </div>
  
  </nav>
  </div> 

<a href="{% url 'artforms' %}" class="post-form"></a>


<div class="container-fluid">
     {% block glavnaya %}{% endblock %}


<div class="div-content">

    <p>
     {% block content %}{% endblock %}
     {% block contact %}{% endblock %}
     {% block login %}{% endblock %}
    </p>

</div>




<div class="footer">
<div>
<p class="text_footer">Mysite!</p>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>



</html>
