{% extends 'blog/index.html' %}
{% block login %}
<div style="margin-top: 10%;">
</div>
<form action="/auth/login/" method="post" style="margin-top: 7%; margin-left: 10%;">
{% csrf_token %}
<label for="username">Имя пользователя</label>
<input type="text" name="username" id="username">
<label for="password">Пароль</label>
<input type="password" name="password" id="password">
<button class="btn btn-sm btn-primary" type="submit">Отправить</button>
    {% if login_error %}
       <label class="error">{{ login_error }}</label>
    {% endif %}
<div style="width: 68%; margin-top: 3%;">
    <p align="right"><a href="/auth/register/">Регистрация</a></p>
</div>
</form>
<div style="margin-top: 30%;">
</div>
{% endblock %}