{% extends 'blog/index.html' %}

{% block login %}
<div style="margin-top: 16%;">
</div>
<div class='' align="center">
 <form action="/auth/register/" method="POST" enctype="multipart/form-data"> {% csrf_token %}
<table style="border-width: 0px;border:none none;">
 <tr><th style="border-width: 0px;border:none none;"><label for="id_username">Логин:</label><td style="border-width: 0px;border:none none;">{{ form.username }}
 <tr><th style="border-width: 0px;border:none none;"><label for="id_password1">Пароль:</label><td style="border-width: 0px;border:none none;">{{ form.password1 }}
 <tr><th style="border-width: 0px;border:none none;"><label for="id_password2">Повторите пароль:</label><td style="border-width: 0px;border:none none;">{{ form.password2 }}
<button class="btn btn-sm btn-primary" type="submit">Отправить</button>   
</table>
  
 </form>
 
</div>
<div style="margin-top: 22%;">
</div>
{% endblock %}
